<!DOCTYPE html>
<html lang="zh-Hant-TW">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大肚山 wee き</title>

    <!-- Normalize.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css">

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- Noto-Sans Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">

    <!-- Custom -->
    <link rel="stylesheet" href="index.css">
    <script src="data.js"></script>
    <script src="index.js"></script>
  </head>

  <body>
    <div id="app">
      <div id="window">
        <div id="container">
          <img id="mountain" ref="mountain" src="./assets/mountain_1080p.gif" alt="Mountain" draggable="false"
            @click.self="currentPlace = mountain;">
          <div>
            <img v-for="place in places" :key="place.id" :src="place.icon" :alt="place.title" :title="place.title"
              draggable="false" @click="currentPlace = place;" :style="place.iconStyle" class="place">
          </div>
        </div>
      </div>

      <div v-if="menuOpened" @click="menuOpened = false;" style="position: fixed; inset: 0;"></div>
      <div id="sidebar">
        <div id="sidebar-box" :class="{ open: menuOpened }">
          <div id="sidebar-content">
            <!-- <div><a href="#referances">參考資料</a></div> -->
            <!-- <div><a href="#report">問題回報</a></div> -->
            <div><a href="#about" @click="aboutUsOpened = true;">關於我們</a></div>
          </div>
        </div>
        <div id="menu-button" @click="menuOpened = !menuOpened">
          <img src="./assets/menu-icon.svg" alt="Menu icon" title="Menu" draggable="false">
        </div>
      </div>

      <transition name="fade">
        <popup v-if="currentPlace" :place="currentPlace" @close="currentPlace = undefined;"></popup>
        <about-us v-if="aboutUsOpened" @close="aboutUsOpened = false;"></about-us>
      </transition>
    </div>

    <template id="template-popup">
      <div class="popup background">
        <div class="popup window">
          <div class="popup body">
            <div v-if="isHalf" class="popup icon">
              <img :src="place.coloredIcon" :alt="place.title" :title="place.title" draggable="false">
            </div>
            <div class="popup article" :class="{ half: isHalf }">
              <div class="popup title">
                <h1>{{ place.title }}</h1>
              </div>
              <div class="popup content">
                <p v-for="(description, index) in place.descriptions" :key="index">{{ description }}</p>
                <div v-if="place.referances.length > 0" class="popup referances">
                  <span>參考資料：</span>
                  <a v-for="referance in place.referances" :href="referance.url"
                    target="_blank">{{ referance.title }}</a>
                </div>
              </div>
            </div>
          </div>
          <div class="popup footer">
            <span @click="closePopup" class="noselect">[ESC] 返回</span>
          </div>
        </div>
      </div>
    </template>

    <template id="template-about-us">
      <div class="popup background">
        <div class="popup window">
          <div class="popup about body">
            <span>待補上</span>
          </div>
          <div class="popup footer">
            <span @click="aboutUsOpened = false;" class="noselect">[ESC] 返回</span>
          </div>
        </div>
      </div>
    </template>
  </body>

</html>
